.titulo{
    text-align: center;
}
.encabezadopag1{
    background-color:black;
}
.texto2{
    font-size: medium;
    color: blue;
}
.texto3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.texto4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.texto5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.class{
    text-align: center;
}
.textoajuste{
    text-align: center;
   padding-bottom: 30px;
}